# Зависимости
node_modules/
package-lock.json

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы среды выполнения
pids
*.pid
*.seed
*.pid.lock

# Директория для инструментальных средств покрытия кода
coverage/

# Файлы конфигурации
.env
.env.test
.env.production

# Кэш npm
.npm

# Кэш eslint
.eslintcache

# Файлы системы macOS
.DS_Store

# Файлы системы Windows
Thumbs.db

# Файлы IDE/редакторов
.idea/
.vscode/
*.swp
*.swo

# Файлы сборки
dist/
build/

# Временные файлы
tmp/
temp/

# Файлы кэша и логов, специфичные для вашего проекта
data/
subscription_cache.json
message_log.json